body {
    font-family: Arial, sans-serif;
    background: url('images/backgroundDesktop.gif') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    body {
        background: url('images/backgroundMobile.gif') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }
}


h1 {
    color: #eef0e3;
    font-family: "Sigmar", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
    color: black;
}


h2 {
    color: rgba(41, 39, 39, 0.884);
    font-family: "Sigmar", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

h2:hover {
    transform: scale(1.1);
   
}
.logo-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: flex-start;
}

.logo-image {
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 33%;
}

.container {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 96%;
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-decoration: none;
    min-height: fit-content; 
}


@media (min-width: 768px) {  
    .container {
        width: 70%; 
        max-width: none;
    }
}

.section {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.section img {
    width: 40%;
    border-radius: 10px;
    margin-top: 10px;
}



@media (min-width: 768px) {  
    .section img {
        width: 20%; 
    }
}


.card {
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
       




.card h2 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}




.card-home {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;  
    text-decoration: none;
    border-radius: 15px;
    padding: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff38;
    backdrop-filter: blur(5px);
    width: 200px; 
    height: 250px; 
    position: relative;  
    margin: 20px; 
}


.card-home img {
    width: 100%;  
    height: auto;  
    border-radius: 10px; 
    object-fit: cover;
}


.card-home span {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 18px;  
    font-family: 'Sigmar', sans-serif;  
    font-weight: bold;
    color: white; +
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  
}

.card-home:hover {
    transform: scale(1.05);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}

.container-home {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: fit-content;
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-decoration: none;
    min-height: fit-content; 
}

 




.update-text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 15px 0; /* Aggiunge spazio sopra e sotto */
}




.swiper {
    width: 100%;
    
}

.swiper-wrapper{
    margin-bottom: 3% !important;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%; /* Imposta una larghezza per ciascuna slide */
    height: 41%;
}


.swiper-slide img {
    width: 100%;
    height:41%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}




@media (min-width: 768px) {  
    .swiper-slide img {
        width: 59%; 
    }
}


.swiper-pagination {
    font-size: 12px;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    position: relative !important;
  }
  
  .swiper-pagination-fraction {
    font-weight: bold;
    padding: 5px 10px;  
    background-color: #000000b0;
    backdrop-filter: blur(5px);
    max-width: 10%;
    display: inline-block;
    border-radius: 6px !important;
  }